* {
  box-sizing: border-box;
}

:root {
  --white: #edf2f4;
  --black: #2b2d42;
  --gray: #8393a0;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
}
